/* Nav related styles */

nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 150px;
    margin-right: 120px;
}

nav >ul
{
    display: flex;
    align-items: center;
    
}

.color{
    color:#E55473;
}

nav li 
{
    list-style: none;
    margin-right: 51px;
    
}
nav a
{
    text-decoration: none;
    color:  #474747;
}
.nav-tittle {
    color: #181818;

    font-size: 45px;

    font-weight: 800;

}


.head
{
    background-color: rgba(229, 84, 115, 0.10);
}


.banner
{
    padding: 197px 972px 0px 240px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 97px;
  
   
}

.banner .banner-image
{
    width: 500px;
    padding: 50px 240px 0px 200px ;
   
}

.banner-content{
    max-width: 500px;
    
}
.flowertittle{

   
    font-family: 'Lato', sans-serif;
    color: #272727;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    width: 708px;
    margin-bottom: 0px;

}
body{
    font-family: 'Lato', sans-serif;
    margin-left: 0;
    margin-right: 0;

}
.tittle-description{
    color: rgba(39, 39, 39, 0.60);
font-size: 20px;
font-weight: 400;
line-height: 30px;
display: flex;
margin-top: 32px;
margin-bottom: 0px;


}
.button-primary
{
    padding:20px 43px;
    border-radius: 8px;
    background: #E55473;
  
    border: 0;
    color: #FFF;
font-size: 20px;
font-weight: 700;
text-align: center;
margin-top: 32px;
}
/* .banner-image{
    margin:50px ;
    padding-bottom: 0px;
    
} */

/* main part style */

.section-tittle
{
    color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;
line-height: normal;
}

.section-description
{


    color: rgba(39, 39, 39, 0.60);
    text-align: center;

    font-size: 18px;
    
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
    
    

}
.sectioncontainer
{
    padding: 0px 240px 0px 240px;

}

.flowersectionchoose-conatiner
{
    display:flex;
    justify-content: space-between;
}
.chooseflower
{
    color: #272727;
text-align: center;
font-size: 24px;
font-weight: 700;
line-height: 35px;
text-decoration-line: underline;
}

    /* hot deal part */

    .deal
    {
        padding:190px 0px 300px 300px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 97px;
        border-radius: 8px;
        background: rgba(229, 84, 115, 0.05);
    }
    /* .deal-image
    {
        width: 500px;
    } */

    .hotdeal
    {
        color: #272727;

font-size: 40px;
font-weight: 800;
line-height: normal;
margin-bottom: 0px;
    }

   .container .section-description
    {
        margin-top: 23px;
        margin-bottom: 0px;
        display: flex;
        flex-direction: column;
        
    }
    .container .button-primary
    {
        margin-top: 12px;
    }

    /* .container .banner-image
    {
        padding-left: 400px;
        padding-top: 100px;
    } */

/* insta*/
.insta-description
{
    margin-bottom: 0px;
}


.insta-tittle
{
    color: #272727;
text-align: center;
margin-bottom: 0px;
font-size: 40px;


font-weight: 800;
line-height: normal;
}
.insta-container
{
    margin-top: 48px;
    display: flex;
   
    gap: 40px;

}
.insta
{
    padding: 100px 100px;
}
.insta-image
{
    width: 500px;
    height: 500px;
}

/* latest deal part */
.latest-deal
{
    background-image: url('Rectangle\ 9.png');
    background-repeat: no-repeat;
  
    background-position: center;
    padding: 200px 500px;
    /* display: flex; */
    align-items: center;
}
/* .latest-deal
{
    padding:200px 500px;
} */

.latestdeal
{
    margin-bottom: 0px;

}
.latest-des
{
    margin-top: 10px;
    margin-bottom: 0px;
}
.latest-deal .email
{
    border-radius: 8px;
background: #FFF;
border: 0;
padding: 10px 40px;
width: 400px;
height: 40px;

margin-top: 30px;
gap: 10px;

}

/* footer part */
.footer .copy
{
color: rgba(255, 255, 255, 0.40);

font-size: 16px;
font-weight: 400;
line-height: normal;
margin-top: 32px;
}
.footercontainer
{
    padding: 100px 300px;
    margin-bottom: 0px;
    text-align: center;
}
.footer .section-description
{
    margin-top: 24px;
    color:#FFFFFF;
    
}
.footer{
    background: #111010;
    
    color:#FFFFFF;
   
}
.flower{
    color: #E55473;
}
.shop
{
    color:#FFFFFF;
}


/* video related works */
.videoflower
{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    row-gap: 50px;
    justify-content: center;
    align-items: center;
    margin-left: 100px;

}


.description {

    margin-bottom: 0px;
    color: var(--dark-03, #757575);

    font-size: 16px;

    font-weight: 400;
    line-height: 28px;
}

.reviewti .insta-tittle
{
    margin-bottom: 10px;
}


.containerreveiw {
    display: flex;
    gap: 24px;
}

.reply
 {
    padding: 33px 33px 33px 33px;

    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    /* justify-content: space-evenly;  */
}

.re {
    margin-top: 20;

}
